### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [ ]:
def find_unique(list1):
  uniques = []
  for item in list1:
    if item not in uniques:
      uniques.append(item)
  return uniques

list1 = [1,2,3,3,3,3,4,5]
print(find_unique(list1))

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [8]:
# Write code here

def sort_words(words):
  return '-'.join(sorted(words.split('-')))

str1 = "green-red-yellow-black-white"
print(sort_words(str1))

black-green-red-white-yellow

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [10]:
# Write code here
str2 = "RohitDudi is an Online Mentorship Program fOr EnginEering studentS."

def count_characters(str1):
  lower_count = 0
  upper_count = 0
  for char in str1:
    if char.isupper():
      upper_count += 1
    elif char.islower():
      lower_count += 1
  return upper_count,lower_count

lower,upper = count_characters(str2)
print('lower: ',lower,'upper: ',upper)

lower:  9 upper:  49

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [13]:
# Write code here
def print_even(lst):
  for num in lst:
    if num%2 == 0:
      print(num,end=', ')

lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print_even(lst)

2, 4, 6, 8,

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [30]:
# Write code here
def is_perfect(num):
  sum_of_divisors = 0

  for i in range(1,num//2+1):
    if num%i == 0:
      sum_of_divisors += i

  return(sum_of_divisors == num)

print(is_perfect(496))

True

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [31]:
# Write code here

def merge_dicts(*dicts):
  resultant_dict = {}
  for i in range(len(dicts)):
    resultant_dict.update(dicts[i])
  return resultant_dict

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
print(merge_dicts(dic1,dic2,dic3))

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [33]:
# Write code here
str1 = "hello how are you i am fine thank you"

def most_occurence(str1):
  most_word = ''
  highest_count = 0

  for word in str1.split():
    count = 0
    for item in str1.split():
      if word == item:
        count += 1
      if highest_count < count:
        highest_count = count
        most_word = word

  return most_word

print(most_occurence(str1))

you

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [ ]:
# Write code here

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [1]:
# Write code here
import math

coordinates = [(1,1),(2,2),(3,3),(4,4)]
query_point = (0,0)

def find_nearest(coordinates, query_point):
  nearest_point = None
  min_distance = float('inf') # Initialize with a very large value

  for coordinate in coordinates:
    distance = math.dist(coordinate, query_point)

    if distance < min_distance:
      min_distance = distance
      nearest_point = coordinate

  return nearest_point

nearest = find_nearest(coordinates, query_point)
print(f"Nearest to {query_point} is {nearest}")

Nearest to (0, 0) is (1, 1)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [5]:
# Write code here
inp = "John likes to watch movies. Mary likes movies too."

def bag_of_words(inp):
  words_dict = {}
  for word in inp.split():
    if word in words_dict:
      words_dict[word] += 1
    else:
      words_dict.update({word:1})
  return words_dict

print(bag_of_words(inp))

{'John': 1, 'likes': 2, 'to': 1, 'watch': 1, 'movies.': 1, 'Mary': 1, 'movies': 1, 'too.': 1}

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [7]:
# Write code here
lst1 = [1,2,3,4]
lst2 = [5,6,7,8]
lst3 = [9,10,11,12]

def add_lists(lst1,lst2,lst3):
  result = map((lambda x,y,z: x+y+z),lst1,lst2,lst3)
  return list(result)

print(add_lists(lst1,lst2,lst3))

[15, 18, 21, 24]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [8]:
# Write code here
list1 = [1,2,3,4,5,6]
def power_of_list(list1):
  resultant_list = map((lambda item,index: item**index ), list1,range(len(list1)))
  return list(resultant_list)

print(power_of_list(list1))

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [29]:
# Write code here
exmp = "Hello, Rohit Dudi is the best youtube channel."
vowels = ['a','e','i','o','u']

def filter_lowers(inp):
  result = list(filter((lambda i: i.lower() in vowels),inp))
  return result
print(filter_lowers(exmp))

['e', 'o', 'o', 'i', 'u', 'i', 'i', 'e', 'e', 'o', 'u', 'u', 'e', 'a', 'e']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [31]:
# Write code here
from functools import reduce
lst = [[1,2,3],[4,5,6],[7,8,9]]
def convert_to_1d(lst):
  return reduce(lambda x,y: x+y,lst)
print(convert_to_1d(lst))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [ ]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [34]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']