# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [ ]:
# write your code here
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]

for i in range(len(test_list)-2):
  for j in range(len(test_list)-2):
    if test_list[j][0] == test_list[j+1][0]:
      test_list[j] = test_list[j]+test_list[j+1][1:]
      test_list.pop(j+1)
print(test_list)

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [7]:
# write your code here
test = (1, 5, 7, 8, 10)
result = []

for i in range(len(test)):
  if i == 0:
    result.append(test[i]*test[i+1])
  elif i == len(test)-1:
    result.append(test[i]*test[i-1])
  else:
    result.append(test[i]*test[i-1]+ test[i]*test[i+1])
print(result)

[5, 40, 91, 136, 80]

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [ ]:
# write your code here
t1 = (1,2,3,0)
t2 = (0,1,2,3)
print (t1==t2)

False

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [ ]:
# write your code here
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
list_count=0
tuple_count=0
set_count=0
for i in list1:
  if type(i)==list:
    list_count+=1
  elif type(i)==set:
    set_count+=1
  elif type(i)==tuple:
    tuple_count+=1
print("List-",list_count)
print("Set-",set_count)
print("Tuples-",tuple_count)

List- 2
Set- 2
Tuples- 1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [ ]:
# write your code here
students = []
num_of_students = int(input("Enter number of students: "))

for i in range(0,num_of_students):
  print("Enter Details of student-", i+1)
  name = input("Enter student name: ")
  higher_education = input("Enter student higher education: ")
  primary_skill = input("Enter student Primary Skill: ")
  year_of_graduation = input("Enter year of graduation: ")
  students.append((name,higher_education,primary_skill,year_of_graduation))

higher_education = input("Enter Job Role Requirement higher education: ")
skill = input("Enter primary Skill: ")

filterred_students = []

for student in students:
  if student[1] == higher_education and student[1] == skill:
    print(student[1],student[2])
    filterred_students.append(student)
print(filterred_students)

Enter number of students: 2
Enter Details of student- 1
Enter student name: rohit
Enter student higher education: bca
Enter student Primary Skill: java
Enter year of graduation: 2022
Enter Details of student- 2
Enter student name: manish
Enter student higher education: b. tech
Enter student Primary Skill: python
Enter year of graduation: 2334
Enter Job Role Requirement higher education: bca
Enter primary Skill: java
[]

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [ ]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

set1 = set(ar1)
set2 = set(ar2)
set3 = set(ar3)

common_elements = list(set1.intersection(set2, set3))
print(common_elements)

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [ ]:
# write your code here
str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
vowels = {'a','e','i','o','u'}
unique_vowels = ''
unique_counts = 0

for i in range(len(str1)):
  for j in range(i, len(str1)):
    if(str1[i] in vowels):
      if str1[i] not in str1[j:-1] and str1[i] not in unique_vowels:
        unique_vowels+=str1[i]
        unique_counts+=1

print(unique_vowels)
print(unique_counts)

aoieu
5

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [10]:
# write your code here

str1 = input("Enter a string: ")
isBinary = False

for item in str1:
  if item != '0' and item != '1':
    isBinary = False
    break
  else:
    isBinary = True

if isBinary:
  print("Enterd string is a binary string.")
else:
  print("Enterd string is NOT a binary string.")

Enter a string: 12201101010
Enterd string is NOT a binary string.

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [14]:
# write your code here

list1 = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

result = []
for miniList in list1:
  for item in miniList:
    if item not in result:
      result.append(item)

print(result)

[1, 2, 4, 3, 6, 5, 9, 7]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [17]:
# write your code here
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}

result = []
for i in lst1:
  if i in lst2 and i not in result:
    result.append(i)

for i in lst2:
  if i in lst1 and i not in result:
    result.append(i)

print(result)

[9, 11, 26, 28]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [24]:
# write your code here
test_dict = {"first" : [5, 7, 7, 7, 7], "second" : [6, 7, 7, 7], "third" : [9, 9, 6, 5, 5]}

highest_unique_count = 0
highest_unique_key = 'not found'

for (key,value) in test_dict.items():
  unique_count = 0

  unique_count += len(set(value))

  if unique_count > highest_unique_count:
    highest_unique_count = unique_count
    highest_unique_key = key

print(highest_unique_key)

third

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [25]:
# write your code here
test_str = 'Rohit Dudi best for science lovers.'
repl_dict = {"best" : "is the best channel", "science" : "Space-Science"}

for key,value in repl_dict.items():
  if key in test_str:
    test_str = test_str.replace(key,value)

print(test_str)

Rohit Dudi is the best channel for Space-Science lovers.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [32]:
# write your code here
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]

result = []

max_index = max(len(test_list),len(key_list))

key_index = 0
value_index = 0

for i in range(max_index):
  if not key_index < len(key_list):
    key_index = 0
  if not value_index < len(test_list):
    value_index = 0

  new_dict = {key_list[key_index]:test_list[value_index]}
  result = result + [new_dict]

  key_index += 1
  value_index += 1
print(result)

[{'name': 'DataScience'}, {'id': 3}, {'name': 'is'}, {'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [33]:
# write your code here
marks = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]

result_dict = {}

for tup in marks:
  result_dict[tup[0]] = [tup[1]]

print(result_dict)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [45]:
# write your code here

input_dict = {'c': [3], 'b': [12, 10], 'a': [19, 4]}

key_sorted = {k:input_dict[k] for k in sorted(input_dict)}

for key,value in key_sorted.items():
  key_sorted[key].sort()

print(key_sorted)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}